// Reset
@import "./base/reset";

// Variables
@import "./helpers/variables";

// Button
@import "./components/button";



.navbar {
  .nav-link{
    color: $color-dark;
    font-size: $fs-1;
    font-weight: $fw-3;
  }
}

// 